<div class="hero min-h-screen"
    style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg)">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Салем!</h1>
            <br />
            <p class="mb-5 text-2xl">
                Ты в приложении
                <br />
                Заметки
                <br /><br />
                Автор OLZHAS
            </p>
            <br />
            <a [routerLink]="[Path_Register]"> <button type='button' class="btn btn-primary">Кеттык</button></a>
        </div>
    </div>
</div>