<div class="grid place-items-center min-h-[calc(100%-64px)] py-10 sm:max-w-2xl sm:m-auto">


    <form class=" w-4/5">
        <div class="w-full text-center mb-5 text-2xl">Please register first</div>

        <a [routerLink]="[Path_Login]" type='button' class="link text-center w-full mb-10">Already have
            an account?</a>

        <div class="form-control w-full ">
            <label class="label">
                <span class="label-text">What is your name?</span>
            </label>
            <input [(ngModel)]="formData.name" name="name" required autoComplete="username" type="text"
                placeholder="Type here" class="input input-bordered w-full " />
        </div>

        <br />

        <div class="form-control w-full ">
            <label class="label">
                <span class="label-text">Your e-mail address?</span>
            </label>
            <input [(ngModel)]="formData.email" name='email' required autoComplete="username" type="email"
                placeholder="Type here" class="input input-bordered w-full " />
        </div>

        <br />

        <div class="form-control w-full ">
            <label class="label">
                <span class="label-text">Password</span>
            </label>
            <input [(ngModel)]="formData.password" name='password' [type]="showPassword ? 'text' : 'password'" required
                autoComplete="new-password" type="password" placeholder="Type here"
                class="input input-bordered w-full " />
        </div>

        <br />

        <div class="form-control w-full ">
            <label class="label">
                <span class="label-text">Confirm password</span>
            </label>
            <input [(ngModel)]="formData.password_confirmation" name='password_confirmation'
                [type]="showPassword ? 'text' : 'password'" required autoComplete=" new-password" type="password"
                placeholder="Type here" class="input input-bordered w-full " />
        </div>

        <br />

        <div class="form-control w-max">
            <label class="cursor-pointer label">
                <input [(ngModel)]="showPassword" name="show" type="checkbox" class="checkbox checkbox-secondary" />
                <span class="ml-4 label-text">Show password</span>
            </label>
        </div>


        <div class="mt-5 text-error text-center text-ba">
            {{errorMessage$|async}}
        </div>


        <button (click)="register()" name='submitButton' type='submit' class="btn btn-primary mt-5 w-full">
            Register</button>


    </form>
</div>